html{font-family: sans-serif;}
body,html{width:100%;height:100%;font-size: 14px;color: #333;display:block;margin:0 auto;}
body{font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;background:#fff;}
body,div,ul,li,h1,h2,h3,h4,h5,h6,form,input,button,textarea,th,td,p,tbody,thead,tfooter,pre{margin:0;padding:0;}
li{list-style:none;}
img,button{border:none;}
textarea{resize:none;}
img{max-width: 100%;}
button,input,textarea,select{font-family:\5FAE\8F6F\96C5\9ED1,Verdana,Arial;outline:none;}
h1,h2,h3,h4,h5,h6{font-family: inherit;font-weight: 100 !important;color: inherit;}
h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4{font-size: 18px;}
h5 {font-size: 14px;}
h6{font-size: 12px;}

a,.trans,button{text-decoration: none;transition:all 0.35s;-ms-transition:all 0.35s;-webkit-transition:all 0.35s;-ms-transition:all 0.35s;-moz-transition:all 0.35s;-o-transition:all 0.35s;}
.fl{float:left;display:inline-block;position:relative;}
.fr{float:right;display:inline-block;position:relative;}
.abs{position:absolute;} 
.rel{position:relative;}
.clear:after{content:" "; display:block; height:0; visibility:hidden; clear:both;overflow: hidden;}
.table,.table-cell{display:table;width:100%;height:100%;vertical-align:middle;text-align:center;}
.table-cell{display:table-cell;}
.body-wrap{padding: 15px;}
.container{width: 1200px;margin-left:auto;margin-right:auto;}
.main{min-height:70%;}
a{color: #099dc9;}
a:hover{color:#1186a8;}

