body{font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;}
h1,h2,h3,h4,h5,h6{font-family: inherit;font-weight: normal;color: inherit;padding: 0;margin: 0;}
h1 {font-size: 36px;}
h2 {font-size: 30px;}
h3 {font-size: 24px;}
h4{font-size: 18px;}
h5 {font-size: 14px;}
h6{font-size: 12px;}
@font-face {
		font-family: "FontAwesome";
		font-style: normal;
		font-weight: normal;
		src: url("libs/fontAwesome/font/fontawesome-webfont.eot?#iefix") format("embedded-opentype"), 
		url("libs/fontAwesome/font/fontawesome-webfont.woff") format("woff"), 
		url("libs/fontAwesome/font/fontawesome-webfont.ttf") format("truetype"), 
		url("libs/fontAwesome/font/fontawesome-webfont.svgz#FontAwesomeRegular") format("svg"), 
		url("libs/fontAwesome/font/fontawesome-webfont.svg#FontAwesomeRegular") format("svg");
}
/*返回顶部按钮*/
#hello-top{position:fixed;width:35px;height:35px;text-align:center;line-height:35px;display:block;cursor:pointer;bottom:50px;right:50px;border: 1px solid #bbb;box-shadow: 0 0 10px rgba(0,0,0,0.25);background: #fff;}
#hello-top i{color:#aaa;}
#hello-top:hover i{color:#555;}
/*可轮播选项卡*/						
.hello-tabs{background: #fff;width:600px;border:1px solid #ddd;}
.hello-tabs ul,.hello-tabs li{padding:0;margin:0;list-style:none;}
.hello-tabs .hello-tabs-trigger{width:100%;height:35px;line-height:35px;border-bottom:1px solid #e0e0e0;overflow:hidden;}
.hello-tabs .hello-tabs-trigger li{border-left:1px solid #e0e0e0;margin-left:-1px;font-size:14px;width:120px;color:#337ab7;text-align:center;float:left;cursor:pointer;display: inline-block;}
.hello-tabs .hello-tabs-trigger li.current{background:#eee;}
.hello-tabs .hello-tabs-container{width:100%;overflow:hidden;}
.hello-tabs .hello-tabs-container li{min-height: 150px;background:#fff;padding:10px;display:none;font-size:13px;line-height:1.5;}
.hello-tabs .hello-tabs-container li.current{display:block;}

/*下拉菜单&全国三级联动*/					
.hello-selecter{display: inline-block;position: relative;width:160px;}
.hello-selecter .select-btn{border: 1px solid #ccc;background: #eee;display: block;line-height: 25px;padding: 0 12px;position: relative;cursor: pointer;font-size:12px;color:#555;overflow:hidden;}
.hello-selecter .select-btn a{width:80%;font-size: 13px;color: #333;float: left;display:inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;text-decoration:none;}
.hello-selecter .select-btn i.arrow{width:0;height:0;padding: 0;border-top: 8px solid #ccc;border-left: 5px solid transparent;border-right: 5px solid transparent;position: absolute;top: 8px;right: 12px;}
.hello-selecter .container{position:absolute;z-index: 2;top:30px;left:-1px;padding: 5px 0;display: none;border: 1px solid #ccc;background: #fff;width: 100%;box-shadow: 0 1px 1px #ddd;}
.hello-selecter .container li{cursor:pointer;display:block;font-size:12px;color:#555;padding: 5px 10px;}
.hello-selecter .container li.split,.hello-select .container li.split:hover{height: 1px;width: 100%;padding: 0;margin: 5px 0;background: #eee;}
.hello-selecter .container li:hover{background:#07699d;color:#fff;}
.hello-selecter .container.current{display: block;}
.hello-selecter .container-city{padding:0;overflow:hidden;}
.hello-selecter .container-city .tabs{overflow:hidden;width:105%;background:#f5f5f5;}
.hello-selecter .container-city .tabs span{display:block;float:left;width:32%;cursor:pointer;font-size:12px;text-align:center;padding:5px 0;color:#bbb;border-right:1px solid #bbb;border-bottom:1px solid #bbb;}
.hello-selecter .container-city .tabs span.current{color:#555;background:#fff;border-bottom:1px solid #fff;}
.hello-selecter .container-city ul.current{display:block;}
.hello-selecter .container-city ul{display:none;padding:10px 5px;font-size:12px;}
.hello-selecter .container-city ul li{display:inline-block;padding:3px 5px;margin:0 0 3px 2px;border-radius:3px;font-size:12px;color:#555;cursor:pointer;}
.hello-selecter .container-city ul li:hover,
.hello-selecter .container-city ul li.current{background:#eee;color:#07699d;}


/*可拖拽弹窗*/	
.hello-dialog{left:50%;top:50%;text-align:center;box-shadow:0px 10px 35px rgba(0,0,0,0.25);border-top:2px solid #333;background:white;border-radius:3px;z-index:999;overflow:hidden;position:fixed;}
.hello-dialog .title {background:#eee;cursor:move;padding:10px;text-align:center;}
.hello-dialog .title>.btns{padding-left:10px;}
.hello-dialog .title:after{content:" "; display:block; height:0; visibility:hidden; clear:both;}
.hello-dialog .title span{display:inline-block;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;width:70%;font-size:13px;}
.hello-dialog .title .btns{font-size:12px;color:#aaa;font-style:normal;display:inline-block;float:right;cursor:pointer;}
.hello-dialog .container{height:auto;color:#909090;padding:15px;font-size:13px;position:relative;}
.hello-dialog .container iframe{position:absolute;width:100%;height:100%;border:none;overflow:auto;top:0;left:0;display:block;}
.hello-dialog .btng{padding:15px;}
.hello-dialog .btng>.btns{display:inline-block;text-align:center;padding:5px 15px;border-radius:3px;font-size:13px;}
.hello-dialog .btng>.btns.cancel{background:#eee;margin:0 0 0 10px;color:#555;}
.hello-dialog .btng>.btns.firm{background:#29ABE2;color:#fff;}
.hello-dialogMark{position:fixed;width:100%;height:100%;top:0;left:0;z-index:998;background:rgba(200,200,200,.25);}
.hello-dialog.full{margin:0!important;width:100%!important;height:100%!important;top:0!important;left:0!important;}

/*手风琴*/	
.hello-accordion{border: 1px solid #ddd;overflow: hidden;font-size: 13px;color: #888;margin-bottom: 5px;}
.hello-accordion-trigger{padding:10px;cursor: pointer;color: #337ab7;overflow: hidden;}
.hello-accordion-trigger i.btn{float: right;}
.hello-accordion-trigger i.btn:after{content: "展开";font-size: 12px;color: #ddd;font-style: normal;}
.hello-accordion-trigger i.btn.current:after{content: "收起";}
.hello-accordion-trigger:hover{background: #f5f5f5;}
.hello-accordion-container{padding:10px;border-top: 1px solid #ddd;display: none;}

/*放大镜*/
.hello-zoom{position:relative;margin:0 0 50px 0;}
.hello-zoom>img{width:100%;height:100%;}
.hello-zoom .glasses{position:absolute;top:0;left:0;overflow:hidden;border-radius:50%;display:none;cursor:none;z-index:999;box-shadow:0 0 0 4px rgba(255,255,255,1),0 10px 15px rgba(0,0,0,0.7);background: #f5f5f5;}
.hello-zoom .glasses img{position:absolute;top:0;left:0;display:block;}

/*无缝轮播*/
.hello-carousel{position: relative;overflow: hidden;}
.hello-carousel .table,.hello-carousel .table-cell{width:100%;height:100%;text-align:center;vertical-align:middle;display:table;}
.hello-carousel .table-cell{display:table-cell;}
.hello-carousel .carousel-wrap{height: 100%;position:absolute;z-index:1;top:0;left:0;width:999999px;}
.hello-carousel .carousel-item{height: 100%;position:absolute;overflow:hidden;}
.hello-carousel .carousel-item img{max-width: 100%;}
.hello-carousel .carousel-arrow{position: absolute;top: 50%;display: inline-block;background:rgba(220,220,220,0.6); z-index:2;border-radius: 10px;cursor:pointer;padding:5px 10px;}
.hello-carousel .carousel-arrow.carousel-arrow-left{left: 2%;}
.hello-carousel .carousel-arrow.carousel-arrow-right{right: 2%;}
.hello-carousel .carousel-dots{width:100%;position:absolute;bottom:50px;left:0;text-align:center;z-index:2;}
.hello-carousel .carousel-dots .dots{display:inline-block;width:8px;height:8px;border-radius:50%;background:#fff;margin:0 4px;cursor:pointer;-webkit-transition:all 0.3s;-moz-transition:all 0.3s;-ms-transition:all 0.3s;-o-transition:all 0.3s;transition:all 0.3s;}
.hello-carousel .carousel-dots .dots.current{background:#007cc1;-webkit-transform: scale(1.7);-moz-transform: scale(1.7);-ms-transform: scale(1.7);-o-transform: scale(1.7);transform: scale(1.7);}

/*分步提示*/
.hello-step{border: 1px solid #ddd;overflow: hidden;background: #fff;width:600px;}
.hello-step .item{display: block;white-space:nowrap;text-overflow:ellipsis;float: left;text-align: center;font-size: 13px;color: #888;position: relative;line-height:40px;}
.hello-step .item span{position: relative;z-index: 3;padding-left:25px;}
.hello-step .item.current{background: #0084c8;color: #fff;}
.hello-step .item:after{content: " ";width: 50px;height: 50px;top: 50%;margin-top: -26px; right: -15px; border-right: 1px solid #dcdcdc;border-bottom: 1px solid #dcdcdc;display: inline-block;position: absolute;background: #fff;z-index: 1;-webkit-transform: rotate(-45deg);-moz-transform: rotate(-45deg);-ms-transform: rotate(-45deg);-o-transform: rotate(-45deg);transform: rotate(-45deg);}
.hello-step .item:last-child:after{background: rgba(0,0,0,0);}
.hello-step .item.current:after{background: #0084c8;z-index: 2;}

/*自动完成*/
.hello-autocomplete{position: absolute;display: none;border:1px solid #e0e0e0;background: #fff;}
.hello-autocomplete li{line-height:25px;font-size:13px;cursor:pointer;border-bottom: 1px solid #f5f5f5;}
.hello-autocomplete li span{padding-left:10px;}
.hello-autocomplete li:hover{background:#3799e2;color: #fff;}
.hello-autocomplete.current{display: block;}
.hello-autocomplete ul{max-height: 300px;overflow-y: auto;}

/*图片裁剪*/
.hello-clip{width: auto;height: auto;display: inline-block;}
.hello-clip-wrap{background: #ccc;position: relative;z-index: 1;overflow: hidden;}    
.hello-clip-wrap img{cursor: move;display: block;position: absolute;z-index: 2;top: 0;left: 0;}
.hello-clip-wrap input[type='file']{position: absolute;width: 100%;height: 100%;top: 0;left: 0;z-index: 1;cursor: pointer;opacity: 0;}
.hello-clip-wrap span{font-size: 12px;color: #eee;font-style: italic;display: block;width: 100%;text-align: center;}
.hello-clip-wrap canvas{display: none;}
.hello-clip-tools{position: relative;z-index: 1;}
.hello-clip-tools a{font-size: 13px;color: #099dc9;line-height: 2;}	
.hello-clip-tools a.hello-clip-delete{float: right;}	
.hello-clip-tools-wrap{position: absolute;z-index: 1;width: 300px;border: 1px solid #ccc;border-radius: 5px;padding: 5px 10px;font-size: 13px;top: 35px;display: none;}
.hello-clip-tools-wrap .arrow{font-style: normal;font-size: 35px;position: absolute;z-index: 1;left: 5px;top: -23px;color: #fff;text-shadow: 0 -1px 0 #aaa;}
.hello-clip-scale{display:inline-block;width: 260px; background:#eee;height:10px;position:relative;z-index:1;}
.hello-clip-scale-bar{display:inline-block;width:20px;height:10px;background:#fff;box-shadow:0 0 5px rgba(0,0,0,0.3);position:absolute;top:0;z-index:1;cursor:w-resize;}

/*自定义滚动条*/
.hello-scroll{padding:1em;}
.hello-scroll-wrap.no-select{user-select:none;-webkit-user-select:none;-moz-user-select:none;}
.hello-scroll-wrap{position:relative;z-index:1;overflow:hidden;}
.hello-scroll-content{position:relative;top:0;z-index:1;}
.hello-scroll-bar{display:inline-block;width:5px;background:rgba(0,0,0,0.05);border-radius:5px;top:0;right:0;position:absolute;z-index:1;cursor:pointer;transition: background 0.5s;-o-transition: background 0.5s;-ms-transition: background 0.5s;-moz-transition:background 0.5s;-webkit-transition: background 0.5s;}
.hello-scroll:hover .hello-scroll-bar{background:rgba(0,0,0,0.35);}

/*按钮*/
.hello-btn{background:#ccc;cursor:pointer;padding:0 15px;line-height:30px;border-radius:3px;border:none;outline:none;}
.hello-btn.default{background: #333;color:#fff;}
.hello-btn.warning{background: #F4A522;color:#fff;}
.hello-btn.success{background: #17A05E;color:#fff;}
.hello-btn.error{background: #B40000;color:#fff;}
.hello-btn.info{background: #158FD0;color:#fff;}
.hello-btn.disabled{background: #aaa !important;color:#fff;cursor:not-allowed;}
.hello-btn .hello-loading{display:inline-block;font-size:15px;-moz-animation:spin 1.5s infinite linear;-o-animation:spin 1.5s infinite linear;-webkit-animation:spin 1.5s infinite linear;animation:spin 1.5s infinite linear}
@-moz-keyframes spin{0%{-moz-transform:rotate(0deg)}100%{-moz-transform:rotate(359deg)}}
@-webkit-keyframes spin{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(359deg)}}
@-o-keyframes spin{0%{-o-transform:rotate(0deg)}100%{-o-transform:rotate(359deg)}}
@-ms-keyframes spin{0%{-ms-transform:rotate(0deg)}100%{-ms-transform:rotate(359deg)}}
@keyframes spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}

/*小提示*/
.layout-tip{-webkit-transition:all .3s;-moz-transition:all .3s;-ms-transition:all .3s;-o-transition:all .3s;transition:all .3s;-webkit-transform: scale(0.8) translateY(-15px);-moz-transform: scale(0.8) translateY(-15px);-ms-transform: scale(0.8) translateY(-15px);-o-transform: scale(0.8) translateY(-15px);transform: scale(0.8) translateY(-15px);-webkit-user-select:none;-moz-user-select:none;user-select:none;opacity: 0;filter: alpha(opacity=0);overflow:hidden;background: #555;color:#fff;padding: 6px 13px;font-size:15px;box-shadow:0px 0px 10px rgba(0,0,0,0.3);margin-bottom:10px;}
.layout-tip.current{-webkit-transform: scale(1) translateY(0px);-moz-transform: scale(1) translateY(0px);-ms-transform: scale(1) translateY(0px);-o-transform: scale(1) translateY(0px);transform: scale(1) translateY(0px);opacity: 1;filter: alpha(opacity=100);}
.layout-tip.default{background: #333;}
.layout-tip.warning{background: #F4A522;}
.layout-tip.success{background: #17A05E;}
.layout-tip.error{background: #B40000;}
.layout-tip.info{background: #158FD0;}
.layout-tip i{font-size:18px;margin:0;padding:0;}
.layout-tip td{vertical-align:top;padding:5px;font-size:14px;}

/*表单字数控制*/
.hello-textSize.textarea,.hello-textSize.input{border:1px solid #ccc;overflow:hidden;}
.hello-textSize.textarea p,.hello-textSize.input p{background:#eee;font-size:12px;color:#999;}
.hello-textSize.textarea{border:1px solid #ccc;width:350px;}
.hello-textSize.textarea .wrap{padding:5px;}
.hello-textSize.textarea textarea{border:none;resize:none;width:100%;display:block;min-height:55px;height:55px;}
.hello-textSize.textarea p{border-top:1px solid #ddd;text-align:right;padding:5px;}
.hello-textSize.input{width:300px;height:25px;}
.hello-textSize.input input{border:none;text-indent:5px;width:100%;height:25px;line-height:25px;}
.hello-textSize.input .wrap,
.hello-textSize.input p{display:inline-block;float:left;height:25px;line-height:25px;}
.hello-textSize.input .wrap{width:80%;padding:0;}
.hello-textSize.input p{width:20%;text-align:center;border-left:1px solid #ddd;margin-left:-1px;}
.hello-numControl{border-top:1px solid #ccc;border-bottom:1px solid #ccc;width:110px;overflow:hidden;}
.hello-numControl input{width:56px;line-height:23px;height:25px;border:none;text-align:center;float:left;font-size:13px;font-family:arial;}
.hello-numControl-add,
.hello-numControl-minus{width:25px;height:25px;line-height:25px;color:#555;font-size:20px;font-family:sans-serif;text-align:center;display:inline-block;float:left;border-left:1px solid #ccc;border-right:1px solid #ccc;cursor:pointer;user-select:none;}
.hello-numControl-add:hover,.hello-numControl-minus:hover{background:#f5f5f5;}
.hello-numControl-add:active,.hello-numControl-minus:active{ box-shadow:inset 1px 3px 5px #bbb;background:#e5e5e5;}
